body{
    /* width: 100%;
    height: 100%; */
    background-image: url("../images/castle-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Jura', sans-serif;
}
.char-button{
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: #8C6E6E;
    background-color: white;
    margin: 20px;
}
#yourCharacter{
    background-color: white;
}
.container{
    width: 100%;
}
.column-top{
    width: 100%;
    overflow: auto;
}
.column-bottom{
    clear: both;
    width: 75%;
    margin: auto;
    
}
.column{
    width: 50%;
    float: left;
    overflow: auto;
}
p{
    text-align: center;
    font-weight: bolder;
}
h2{
    clear: both;
    font-weight: 500;
    color: #3BB9FF;
    font-family: 'Roboto', sans-serif;
	font-size: 25px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding: 5px;    
}
#attackInfo{
    clear: both;
    font-weight: bold;
    color: white;
}
.reset-button{
    visibility: hidden;
}
h1{
    text-align: center;
    font-family: 'Schoolbell', cursive;
    font-size: 28px;
}
/* 
font-family: 'Schoolbell', cursive;
font-family: 'Oswald', sans-serif; */